Flask==1.1.2
h5py==2.10.0
imageio==2.8.0
Jinja2==2.11.2
joblib==0.14.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.1.1
numba==0.48.0
numpy==1.18.1
opencv-python==4.2.0.34
scikit-image==0.17.2
scikit-learn==0.22.2.post1
sklearn==0.0
tb-nightly==1.15.0a20190806
tensorboard==1.14.0
tensorflow==2.0.0rc1
tensorflow-estimator==1.14.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019080601

